*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg

### VS Code ###
.vscode/

### VSCode ANTLR Extension ###
.antlr/

**/kotlin/generated**